PORT=
LOG_LEVEL=
UPLOAD_PATH=
MONGODB_URI=

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES=

SHOULD_INIT=
INIT_PASSWORD=

EMAIL_HOST=
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=
EMAIL_PREVIEW=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=
VNPAY_RETURN_URL=
FRONTEND_URL=
BACKEND_URL=

YTB_API_KEY=
SOCIAL_LOGIN_SUCCESS_REDIRECT_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

RAG_JWT_PRIVATE_KEY=
RAG_API_URL=
